.Dashboards {
    color: #fff;
    width: 100%;
    height: 100%;
    .title {
        text-align: left;
        background-color: #0C4587;
        h1 {
            padding: 20px 0;
            margin: 0;
        }
    }
    .description {
        background-color: #0076CE;
        text-align: left;
        padding: 20px 0px;
        p {
            font-size: 1.5em;
        }
    }
    .iframe-container {
        width: 100%;
        height: 100%;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    .navigation {
        color: #012A84;
        a {
            color: #012A84;
        }
        ul {
            margin: 10px 0px;
        }
        li {
            border: 1px solid #012A84;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 10px;
            margin: 0 5px;
        }
        li:hover {
            
            background-color: #012A84;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}